.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
  min-height: 70px;
  background: @item-color;
  border: none;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: @item-font-size;
  .item-name {
    width: 400px;
    word-break: break-all;
  }
  .buttons button {
    position: relative;
    margin: 0 0 0 10px;
    height: 24px;
    border: none;
    &.delete {
      width: 24px;
      background: no-repeat url('./assets/x.svg');
      &:after {
        background: @red;
      }
    }
    &.pause {
      width: 24px;
      background: no-repeat url('./assets/pause.svg');
      &:after {
        background: @yellow;
      }
    }
    &.complete {
      width: 30px;
      background: no-repeat url('./assets/check.svg');
      &:after {
        background: @green;
      }
    }
    &:after {
      display: block;
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 100%;
      width: 0;
      height: 0;
    }
    &:focus {
      outline: none;
    }
    &:focus:after {
      animation: click .5s;
    }
  }
}

@handle-dot-diameter: 10px;
@handle-right-margin: 5px;

.item-wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  margin-left: -2 * @handle-dot-diameter - @handle-right-margin;

  &:hover .item-handle {
    opacity: 1;
  }
}

.item-handle {
  display: grid;
  grid-template-rows: 
    auto 
    @handle-dot-diameter 
    @handle-dot-diameter 
    @handle-dot-diameter 
    auto;
  grid-template-columns: 
    auto 
    @handle-dot-diameter 
    @handle-dot-diameter 
    auto;
  margin-right: @handle-right-margin;
  opacity: 0;

  .handle-dot:nth-child(1) {
    grid-row: 2;
    grid-column: 2;
  }
  .handle-dot:nth-child(2) {
    grid-row: 3;
    grid-column: 2;
  }
  .handle-dot:nth-child(3) {
    grid-row: 4;
    grid-column: 2;
  }
  .handle-dot:nth-child(4) {
    grid-row: 2;
    grid-column: 3;
  }
  .handle-dot:nth-child(5) {
    grid-row: 3;
    grid-column: 3;
  }
  .handle-dot:nth-child(6) {
    grid-row: 4;
    grid-column: 3;
  }

  & > * {
    border-radius: 50%;
    width: @handle-dot-diameter;
    height: @handle-dot-diameter;
    background-color: black;
    opacity: 0.15;
  }
}